<% title 'My Books' %>
<!-- thanks to the the nifty_generators gem, -->
<!-- title helper calls content_for :title and sets it to the argument -->
<!-- view fills in the last yield in application layout and styles the page -->

<% for book in @books do %>
  <h2><%=h book.title %></h2>
  <p><%= book.thoughts %></p>
<% end %>

<br><br>
<!-- to accommodate pagination: -->
<%= will_paginate @books %>
